.infoTable {
    float: left;
}


.infoTable ul .dateItem {
    float: left;
    height: 120px;
    width: 90px;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    margin: 0 3px;

}

@keyframes onM {
    0% {
        box-shadow: 0 0 13px #9c9999;
    }

    50% {
        box-shadow: 0px 0px 27px #9c9999;
    }

    100% {
        box-shadow: 0 0 13px #b6a8b0;
    }
}

.infoTable ul .dateItem:hover {
    animation: onM 3s;
    animation-fill-mode: forwards;
}